@import "./styles/var/colors"
@import "./styles/var/settings"


@import "./styles/reset"

body, html
  position: relative
  min-width: 100%
  min-height: 100%

.clearfix:before
  content: ''
  display: table
  clear: both

@import "./styles/align"
@import "./styles/floats"
@import "./styles/radius"
@import "./styles/typography"
@import "./styles/shadow"
@import "./styles/colors"
@import "./styles/display"
@import "./styles/margin"
@import "./styles/padding"
@import "./styles/borders"
@import "./styles/dimensions"

@import "./components/header"
@import "./components/form/input"
